@charset "utf-8"
body{
  font-family: "メイリオ", sans-serif;
  overflow: hidden;
}
header,.step,.picture,.thumb{
  overflow: hidden;
}
.logo_sp,br.mini,#list_t,.lang_mini{
  display: none;
}
.SP{
  display: none !important;
}
.r_button:hover{
  filter: brightness(150%);
}
.logo{
  display: block;
  max-width: 543px;
  width: 50vw;
  text-align: center;
  margin: 6vw auto 0;
}
.lang{
  display: block;
  margin-right: 7vw;
}
.lang img{
  width: 5vw;
  float: right;
  margin: 0 0 0 1.5vw;
}
.slider1{
  padding: 0;
}
.slider1 li a img{
    max-width: 1000px;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}
.slider2{
  display: block;
  position: relative;
  width: 85vw;
  margin: 5vw auto;
  padding: 0;
}
.PC{
  display: block !important;
  max-width: 890px;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}
.slide-arrow {
  display: block;
  position: absolute;
  max-width: 39px;
  width: 5vw;
  top: 40%;
  z-index: 60;
}
.prev-arrow {
  left: 10px;
}
.next-arrow {
  right: 10px;
}
.thumb{
  display: block;
  max-width: 1080px;
  width: 76vw;
  height: 6vw;
  margin: 0 11vw;
  padding: 0;
  border: 1px solid #ec0c00;
  color: #ec0c00;
  border-radius: 2vw;
}
.thumb li{
  display: block;
  line-height: 5.9vw;
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  border-left: 1px solid #ec0c00;
}
.thumb li:hover{
  background: #ec0c00;
  color: #ffffff;
}
.thumb div .slick-track .slick-current div li{
  background: #ec0c00;
  color: #ffffff;
}
#list_r{
  display: block;
  width: 5vw;
  position: fixed;
  top: 20vw;
  left: 92vw;
}
#list_r img{
  width: 4vw;
}
#about{
  text-align: center;
  margin-top: 5vw;
}
#about img{
  height: 17vw;
}
.what{
  font-size: 3vw;
  font-weight: bold;
}
.what span{
  font-size: 5vw;
  font-weight: bold;
}
.title{
  display: block;
  font-size: 3.5vw;
  margin: 0;
  font-weight: 900;
  background-color: #ffffff;
  color: #ec0c00;
  text-align: center;
}
.title-border {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.title-border:before,.title-border:after {
  border-top: 2px solid #ec0c00;
  content: "";
  flex-grow: 1;
}
.title-border:before {
  margin-right: 1vw;
  margin-left: 8vw;
}
.title-border:after {
  margin-left: 1vw;
  margin-right: 8vw;
}
.sub_title{
  font-size: 1.5vw;
  margin-bottom: 2vw;
  font-weight: bold;
  color: #e1c800;
  text-align: center;
}
.normal{
  font-size: 1.6vw;
}
.picture{
  display: inline-block;
}
.left{
  float: left;
  margin: 3vw;
}
.convert{
  width: 80vw;
  margin: 2vw auto;
  padding: 2vw;
  background-color: #c4dded;
  font-size: 2.5vw;
  font-weight: bold;
  color: #ec0c00;
}
.convert form span.button{
  font-size: 2vw;
}
input[type=text]{
  width: 25vw;
  height: 3.7vw;
  vertical-align: middle;
  border-radius: 0.7vw;
}
span.button{
  display: inline-block;
  width: 10vw;
  height: 3.7vw;
  line-height: 3.7vw;
  background-color: #ec0c00;
  color: #ffffff;
  font-weight:normal;
  vertical-align: middle;
  font-size: 1vw;
  border-radius: 0.7vw;
}
#open{
  text-align: center;
}
#open div{
  font-weight: bolder;
}
.open1{
  height: 10vw;
  margin: 3vw auto;
}
.hane{
  height: 10vw;
  margin: 3vw auto;
}
.item{
  height: 20vw;
  margin: 2vw auto;
}
.step{
  width: 80vw;
  margin: auto 5vw;
}
.step img.device{
  display: block;
  margin: 0 2vw 2vw 2vw;
  width: 30vw;
}
.step img{
  float: left;
  width: 14vw;
  margin: 0.5vw;
}
div.button{
  display: inline-block;
  width: 44vw;
  height: 5vw;
  line-height: 5vw;
  margin: 2vw 0.5vw;
  background-color: #ec0c00;
  color: #ffffff;
  font-weight:normal;
  text-align: center;
  vertical-align: middle;
  font-size: 3vw;
  border-radius: 0.7vw;
}
#service dl{
  width: 80vw;
  margin: auto 10vw;
}
#service dt{
  border-bottom: 1px solid #000000;
  font-size: 2vw;
  font-weight: bold;
  margin: 2vw auto;
}
#service dd img{
  width: 12vw;
  margin: 2vw auto;
}
footer{
}
footer p{
  display: block;
  width: 50vw;
  height: 12vw;
  margin-left: 25vw;
}
footer p span{
  display: inline-block;
  width: 10vw;
  line-height: 10vw;
  font-size: 2vw;
  text-align: center;
  vertical-align: middle;
}
.pic{
  display: inline-block;
  width: 40vw;
  line-height: 10vw;
  font-size: 2vw;
  text-align: center;
  vertical-align: middle;
}
footer p span img{
  display: inline-block;
  line-height: 10vw;
  width: 20vw;
}
footer p img.seraku{
}
br.reg{
  display: inline;
}
@media only screen and ( max-width:599px ){
  header{
    margin-top: 9vw;
    padding: 0 0 0 20vw;
  }
  .logo,#list_r,.step img.device,br.reg,.lang{
    display: none;
  }
  .PC{
    display: none !important;
  }
  .logo_sp{
    display: inline-block;
    width: 50vw;
    margin-top: 5vw;
    float: left;
  }
  .lang_mini{
    display: inline-block;
    width: 20vw;
  }
  .lang_mini img{
    display: inline-block;
    float: left;
    width: 8vw;
    margin-top: 8vw;
    margin-left: 1vw;
  }
  .normal{
    font-size: 2.2vw;
  }
  br.mini{
    display: inline;
  }
  .step{
    overflow: hidden;
    width: 94vw;
    margin: auto 3vw;
  }
  .step img{
    float: left;
    width: 28.5vw;
    margin: 1vw;
  }
  div.button{
    display: inline-block;
    width: 90vw;
    height:10vw;
    line-height: 10vw;
    background-color: #ec0c00;
    margin-bottom: 7vw;
    color: #ffffff;
    font-weight:normal;
    text-align: center;
    font-size: 5vw;
    border-radius: 5px;
  }
  #about{
    text-align: center;
    margin-top: 7vw;
  }
  #about img{
    height: 23vw;
  }
  .slider1 li a img{
      max-width: 1000px;
      width: 100vw;
      height: auto;
      margin: 0 auto;
  }
  .slider2{
    display: block;
    position: relative;
    width: 85vw;
    margin: 5vw auto;
    padding: 0;
  }
  .SP{
    display: block !important;
    max-width: 600px;
    width: 70vw;
    height: auto;
    margin: 0 auto;
  }
  .slide-arrow {
    display: block;
    position: absolute;
    max-width: 28px;
    width: 5vw;
    top: 40%;
    z-index: 10;
  }
  .prev-arrow {
    left: 0;
  }
  .next-arrow {
    right: 0;
  }
  .title-border {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .title-border:before,.title-border:after {
    border-top: 2px solid #ec0c00;
    content: "";
    flex-grow: 1;
  }
  .title-border:before {
    margin-right: 1vw;
    margin-left: 0;
  }
  .title-border:after {
    margin-left: 1vw;
    margin-right: 0;
  }
  .convert{
    width: 100vw;
    margin: 2vw auto;
    background-color: #c4dded;
    font-size: 5vw;
    font-weight: bold;
    color: #ec0c00;
  }
  .convert form span.button{
    font-size: 2vw;
  }
  input[type=text]{
    width: 25vw;
    height: 3.7vw;
    vertical-align: middle;
    border-radius: 0.7vw;
  }
  span.button{
    display: inline-block;
    width: 15vw;
    height: 3.7vw;
    line-height: 3.7vw;
    background-color: #ec0c00;
    color: #ffffff;
    font-weight:normal;
    vertical-align: middle;
    font-size: 1vw;
    border-radius: 0.7vw;
  }
  #list_t{
    display: block;
    width: 100vw;
    height: 9vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    float: left;
  }
  #list_t a img{
    height: 7vw;
  }
  #service dl{
    width: 100vw;
    margin: 5vw 2vw;
  }
  #service dt{
    border-bottom: 1px solid #000000;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vw;
  }
  #service dd{
    margin-left: 0;
  }
  .line{
    display: block;
    width: 100vw;
    height: 4px;
  }
  .thumb{
    display: block;
    width: 500px;
    height: 70px;
    margin: 0 10px;
    padding: 0;
  }
  .thumb li{
    line-height: 70px;
    font-weight: bold;
    border: 1px solid #ec0c00;
    text-align: center;
    font-size: 15px;
    color: #ec0c00;
  }
  .thumb li:hover{
    background: #ec0c00;
    color: #ffffff;
  }
  .thumb div .slick-track .slick-current div li{
    background: #ec0c00;
    color: #ffffff;
  }
}
