@charset "utf-8";
body{
  font-family: "メイリオ", sans-serif;
}
header,.step,.picture,.thumb{
  overflow: hidden;
}
.r_button:hover{
  filter: brightness(150Vw);
}
.logo{
  display: block;
  width: 50Vw;
  text-align: center;
  margin: 6Vw auto 0 25Vw;
}
.logo_sp,br.mini,#list_t,.lang_mini{
  display: none;
}
.lang{
  display: block;
  margin-right: 7Vw;
}
.lang img{
  display: block;
  width: 5Vw;
  float: right;
  margin: 0 0 0 1.5Vw;
}
.slider1 li a img{
    max-width: 890px;
    width: 70Vw;
    height: auto;
    margin: 0 auto;
}
.slider2 li a img{
  max-width: 1000px;
  width: 70Vw;
  height: auto;
}
.slider1{
  margin: auto;
}
.slider2{
  margin: 0 5Vw 0 10Vw;
}
.thumb{
  display: inline-block;
  border-radius: 5Vw;
}
.thumb li{
  display: inline-block;
  height: 5Vw;
  line-height: 5Vw;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #ec0c00;
  text-align: center;
  vertical-align: middle;
  font-size: 2Vw;
  color: #ec0c00;
}
.thumb :first-child{
  border-bottom-left-radius: 5Vw;
  border-top-left-radius: 5Vw;
}
.thumb :last-child{
  border-bottom-right-radius: 5Vw;
  border-top-right-radius: 5Vw;
}
.thumb li:hover{
  background: #ec0c00;
  color: #ffffff;
}
#list_r{
  display: block;
  width: 5Vw;
  position: fixed;
  top: 20Vw;
  left: 92Vw;
}
#list_r img{
  width: 4Vw;
}
#about{
  text-align: center;
}
#about img{
  height: 17Vw;
}
.what{
  font-size: 3Vw;
  font-weight: bold;
}
.what span{
  font-size: 5Vw;
  font-weight: bold;
}
.title{
  display: block;
  font-size: 3.5Vw;
  margin: 0;
  font-weight: 900;
  background-color: #ffffff;
  color: #ec0c00;
  text-align: center;
}
.title-border {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.title-border:before,.title-border:after {
  border-top: 2px solid #ec0c00;
  content: "";
  flex-grow: 1;
}
.title-border:before {
  margin-right: 1Vw;
  margin-left: 8Vw;
}
.title-border:after {
  margin-left: 1Vw;
  margin-right: 8Vw;
}
.sub_title{
  font-size: 1.5Vw;
  margin-bottom: 2Vw;
  font-weight: bold;
  color: #e1c800;
  text-align: center;
}
.normal{
  font-size: 1.6Vw;
}
.picture{
  display: inline-block;
}
.left{
  float: left;
  margin: 3Vw;
}
.convert{
  width: 80Vw;
  margin: 2Vw auto;
  padding: 2Vw;
  background-color: #c4dded;
  font-size: 2.5Vw;
  font-weight: bold;
  color: #ec0c00;
}
.convert form span.button{
  font-size: 2Vw;
}
input[type=text]{
  width: 25Vw;
  height: 3.7Vw;
  vertical-align: middle;
  border-radius: 0.7Vw;
}
span.button{
  display: inline-block;
  width: 10Vw;
  height: 3.7Vw;
  line-height: 3.7Vw;
  background-color: #ec0c00;
  color: #ffffff;
  font-weight:normal;
  vertical-align: middle;
  font-size: 1Vw;
  border-radius: 0.7Vw;
}
#open{
  text-align: center;
}
#open div{
  font-weight: bolder;
}
.open1{
  height: 10Vw;
  margin: 3Vw auto;
}
.hane{
  height: 10Vw;
  margin: 3Vw auto;
}
.item{
  height: 20Vw;
  margin: 2Vw auto;
}
.step{
  width: 80Vw;
  margin: auto 5Vw;
}
.step img.device{
  display: block;
  margin: 0 2Vw 2Vw 2Vw;
  width: 30Vw;
}
.step img{
  float: left;
  width: 14Vw;
  margin: 0.5Vw;
}
div.button{
  display: inline-block;
  width: 44Vw;
  height: 5Vw;
  line-height: 5Vw;
  margin: 2Vw 0.5Vw;
  background-color: #ec0c00;
  color: #ffffff;
  font-weight:normal;
  text-align: center;
  vertical-align: middle;
  font-size: 3Vw;
  border-radius: 0.7Vw;
}
#service dl{
  width: 80Vw;
  margin: auto 10Vw;
}
#service dt{
  border-bottom: 1px solid #000000;
  font-size: 2Vw;
  font-weight: bold;
  margin: 2Vw auto;
}
#service dd img{
  width: 12Vw;
  margin: 2Vw auto;
}
footer{
}
footer p{
  display: block;
  width: 50Vw;
  height: 12Vw;
  margin-left: 25Vw;
}
footer p span{
  display: inline-block;
  width: 10Vw;
  line-height: 10Vw;
  font-size: 2Vw;
  text-align: center;
  vertical-align: middle;
}
.pic{
  display: inline-block;
  width: 40Vw;
  line-height: 10Vw;
  font-size: 2Vw;
  text-align: center;
  vertical-align: middle;
}
footer p span img{
  display: inline-block;
  line-height: 10Vw;
  width: 20Vw;
}
footer p img.seraku{
}
br.reg{
  display: inline;
}
@media screen and ( max-width:599px ){
  header{
    margin-top: 9Vw;
    padding: 0 0 0 20Vw;
  }
  .logo,#list_r,.step,img.devicebr,.reg,.lang{
    display: none;
  }
  .logo_sp{
    display: inline-block;
    width: 50Vw;
    margin-top: 5Vw;
    float: left;
  }
  .lang_mini{
    display: inline-block;
    width: 20Vw;
  }
  .lang_mini img{
    display: inline-block;
    float: left;
    width: 8Vw;
    margin-top: 8Vw;
    margin-left: 1Vw;
  }
  .normal{
    font-size: 2.2Vw;
  }
  br.mini{
    display: inline;
  }
  .step{
    overflow: hidden;
    width: 94Vw;
    margin: auto 3Vw;
  }
  .step img{
    float: left;
    width: 28.5Vw;
    margin: 1Vw;
  }
  div.button{
    display: inline-block;
    width: 90Vw;
    height:10Vw;
    line-height: 10Vw;
    background-color: #ec0c00;
    margin-bottom: 7Vw;
    color: #ffffff;
    font-weight:normal;
    text-align: center;
    font-size: 5Vw;
    border-radius: 5px;
  }
  #about img{
    height: 23Vw;
  }
  #list_t{
    display: block;
    width: 100Vw;
    height: 9Vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    float: left;
  }
  #list_t a img{
    height: 7Vw;
  }
  .line{
    display: block;
    width: 100Vw;
    height: 4px;
  }
}
